@charset "utf-8";
/* CSS Document */
/* Default CSS */
* { 
margin:0px;
padding:0px;
outline: none;
}
.crl
{
	clear:both;
}
a, abbr, acronym, address, applet, article, aside, audio, b, blockquote, big, body, center, canvas, caption, cite, code, command, datalist, dd, del, details, dfn, dl, div, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, keygen, label, legend, li, meter, nav, object, ol, output, p, pre, progress, q, s, samp, section, small, span, source, strike, strong, sub, sup, table, tbody, tfoot, thead, th, tr, tdvideo, tt, u, ul, var {
	background: transparent;
	border: 0 none;
	font-size: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: top;
}
/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {
	display:block;
}
mark, rp, rt, ruby, summary, time 
{
	display:inline;
}
/* Global properties ======================================================== */
body
{
  font-family:Arial, Helvetica, sans-serif;
  font-size:12px;
  color:#000;
  max-width: 1920px;
  min-width:960px;
  height:100%;
}
/* END Default */

#page1 #content 
{
  padding:12px 0 53px;
}
/*********************************header*************************************/
header 
{
  width:100%;
  position:relative;
  z-index:2;
}
.main 
{
  width:960px;
  margin:0 auto;
}
.border-bot 
{
  width:100%;
  padding-bottom:0px;
}
.menu2 
{
  font-family: '"monospace", Fixed, monospace;'
  padding:30px 10px 0 0;
  float:right;
}
.menu2 li 
{
  padding-top: 35px;
  font-family: "monospace", Fixed, monospace;
  float:left;
  position:relative;
  text-decoration:none;
  background:url(../images/menu-spacer.gif) 0 35px no-repeat;
}
.menu2 > li:first-child 
{
  font-family: "monospace", Fixed, monospace;
  background:none;
}
.menu2 a 
{
  padding-top: 35px;
  font-family: "monospace", Fixed, monospace;
  display:inline-block;
  font-size:18px;
  line-height:1em;
  letter-spacing:-1px;
  padding:7px 24px 9px 25px;
  color:#262626;
  text-transform:uppercase;
  background:url(../images/menu-a-tail.gif) 0 -999em repeat-x;
  border-radius:6px;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
}
.menu2 a.active, .menu2 a:hover 
{
  font-family: "monospace", Fixed, monospace;
  background-position:0 0;
  background-color:#262626;
  color:#f6c21e;
}
.menu2 li a, .list-1 a, .link, h1 a 
{
  text-decoration:none;
}
.main
{
  width: 100%;
}
.main2
{
  width: 80%;
  padding-left: 10%;
}
.parallax-window 
{
  min-width: 960px;
  min-height: 720px;
  background: transparent;
}
.parallax-window2
{
  min-width: 960px;
  min-height: 200px;
  background: transparent;
}
.parallax-window3
{
  min-width: 960px;
  min-height: 440px;
  background: transparent;
}
.portfolio-window3
{
  margin: auto;
  width: 960px;
  padding: 10px;
  padding-bottom: 50px;
}
.parallax-window4
{
  min-width: 960px;
  height: 125px;
  background-color: #337188;
}
.wrapper
{
    width:100%;
    display: table-cell;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    margin:0 auto;
    text-align:left;
}
.wrapper1
{
  width: 960px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    display: inline-block;
}
.main h1
{
  padding-top: 35px;
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  float: left;
  padding-top: 0px 0px;
  display: block;
}
.main h2
{
  text-align:center;
  font-family: 'Yantramanav', sans-serif;
  text-transform: uppercase;
  color: #E1EFE9;
  padding-top: 150px;
  font-size: 7em;
}
.main h3
{
  text-align:center;
  margin-top: -30px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #3A6168;
  font-size: 1.5em;
}
.mr_top{
  margin-top: 50px !important;
}
.clear
{
  clear:both;
}
ul {
    list-style-type: none;
}
nav
{
  background: rgb(0,0,0,0);
}
header .black
{
  background-color: black;
}
#sec1
{
  margin: auto;
    width: 44px;
    padding: 10px;
}
#sec1 a span 
{

  position: absolute;
  top: 70%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
}
#sec1 a span::after 
{
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}
#sec1 a span::before 
{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgba(255,255,255,.1);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb03 3s infinite;
  animation: sdb03 1s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
#sec2 p
{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  padding-top: 25px;
  color: #3A6168;
  font-size: 2em;
}
.sec3 
{
  width: 30.33%;
  margin: 150px 1.5% 30px 10px;
  display: inline-block;
  float: left;
  text-align: center;
}
.sec3 h2 
{
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
  padding: 10px 0 36px 0;
}
.web h2 
{
  padding-top: 7px;
}
.sec3 p 
{
  line-height: 1.6;
}
.container_portfolio 
{
 text-align: center;
 max-width: 960px;
 min-width: 960px;
 margin-left: auto;
}
.text 
{
  border: 5px solid transparent;
  border-color: white;
  background-color: #5fe847;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
.text a
{
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  padding-top: 25px;
  color: white;
}
.footer_main 
{
  padding: 15px 0;
}
.copyright 
{
  font-size: 18px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  padding: 27px 0 27px 15px;
}
.social-links 
{
    float: right;
    position: relative;
  padding: 25px 15px 21px 0;
}
.social-links li 
{
    display: inline-block;
    margin: 0 8px 0 0;
    line-height: 16px;
    font-size: 0;
}
.social-tooltip 
{
    font-size: 28px;
}
.work1
{
  padding-top: 50px;
  width: 960px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    display: inline-block;
}

.work1 span {
  padding-top: 50px;
  background: white;
  text-align:center;
  display: inline-block;
  width: 960px;
  padding-bottom: 50px;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.port_container{
	    padding-top: 50px;
	    background: #fff;
	    text-align: center;
	    display: inline-block;
	    width: 960px;
	    padding-bottom: 50px;
	    border-radius: 10px;
	    box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
}
.worktext
{
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  max-width: 400px;
  width: 400px;
  float: left;
  text-align: center;
  padding-top: 5px;
  padding-left: 20px;
  display: inline-block;
}
.h2
{
  font-family: 'Yantramanav', sans-serif;
  font-size: 1em;
  text-transform: capitalize;
  opacity: 0.5;
  max-width: 400px;
  width: 400px;
  float: left;
  text-align: center;
  padding-left: 20px;
  display: inline-block;
}
.worktext ul.circle
{
  text-align: left;
  list-style-type: circle;
}
.workimage
{
  border-radius: 2px;
  display: inline-block;
  float: right;
  padding-right: 20px;
  padding-top: 20px;
}
.workimage img
{
  max-width: 400px;
  max-height: 300px;
  }
 .worktext2
{
	font-family: 'Montserrat', sans-serif;
	font-size: 2em;
  text-transform: uppercase;
	max-width: 400px;
	width: 400px;
	float: right;
	text-align: center;
	padding-top: 20px;
	padding-left: 20px;
	display: inline-block;
}
.worktext2 h2
{
  font-family: 'Yantramanav', sans-serif;
  font-size: 1em;
  text-transform: capitalize;
  opacity: 0.5;
	max-width: 400px;
	width: 400px;
	float: right;
	text-align: center;
	padding-top: 20px;
	padding-left: 20px;
	display: inline-block;
}
.worktext2 ul.circle
{
  text-align: left;
  list-style-type: circle;
}
.workimage2
{
	border-radius: 2px;
	display: inline-block;
	float: left;
	padding-left: 20px;
	padding-top: 20px;
}
.workimage2 img
{
	max-width: 400px;
	max-height: 300px;
	}
.button, button {
    height: auto;
    padding: 0.8rem 2.5rem;
    font-size: 1.3rem;
    line-height: normal;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    letter-spacing: 0;
    border-radius: 50px;
    border: 2px solid #999;
    color: #999;
}
.button:hover {
    height: auto;
    padding: 0.5rem 1.5rem;
    font-size: 1.3rem;
    line-height: normal;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    letter-spacing: 0;
    border-radius: 50px;
    border: 2px solid #337188;
    color:#337188;
}
a 
{
    text-decoration: none; 
}
.portfolio
  {
    height: 100px;
  }
#portfolio p
{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  padding-top: 25px;
  color: #3A6168;
  font-size: 2em;
}
 .border
  {
  	margin: auto;
    max-width: 960px;
    border-bottom: 1px solid #d6e1e5;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(214, 225, 229);
    padding: 50px 0 0;
  }
.services
  {
    height: 100px;
  }
.container_service
{
  margin: auto;
  width: 960px;
  padding: 10px;
  padding-bottom: 50px;
}
.container_about
{
  margin: auto;
  width: 960px;
  padding: 10px;
  padding-bottom: 50px;
}
#services p
{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  padding-top: 25px;
  color: #3A6168;
  font-size: 2em;
}
.service_conteiner
{
  margin: auto;
  width: 960px;
  padding: 10px;
  padding-bottom: 50px;
}

.service_conteiner span {
  background: white;
  display: inline-block;
  width: 960px;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.service_text
{
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  max-width: 400px;
  width: 400px;
  float: left;
  text-align: center;
  padding-top: 20px;
  padding-left: 20px;
  display: inline-block;
}
.service_text h1
{
  font-family: 'Yantramanav', sans-serif;
  font-size: 1em;
  text-transform: capitalize;
  opacity: 0.8;
  color: black;
  max-width: 800px;
  width: 800px;
  float: left;
  text-align: center;
  padding-top: 20px;
  padding-left: 20px;
  display: inline-block;
}
.service_text h2
{
  font-family: 'Yantramanav', sans-serif;
  font-size: 1em;
  text-transform: capitalize;
  opacity: 0.5;
  max-width: 800px;
  width: 800px;
  float: left;
  text-align: center;
  padding-top: 20px;
  padding-left: 20px;
  display: inline-block;
}
.service_text h3
{
  font-family: 'Yantramanav', sans-serif;
  font-size: 1em;
  text-transform: capitalize;
  opacity: 0.5;
  max-width: 800px;
  width: 800px;
  float: left;
  text-align: left;
  padding-top: 20px;
  padding-left: 20px;
  display: inline-block;
}
.service_text p
{
    font-family: 'Yantramanav', sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    color: #337188;
    opacity: 0.9;
  max-width: 800px;
  width: 800px;
  float: left;
  text-align: left;
  padding-top: 20px;
  padding-left: 20px;
  display: inline-block;
}
.circle
{
  list-style-type: circle;
}
.aboutme
{
    height: 100px;
}
#aboutme p
{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  padding-top: 25px;
  color: #3A6168;
  font-size: 2em;
}
.about3d
{
  margin: auto;
  width: 960px;
  padding: 10px;
  padding-bottom: 50px;
}
.about3d span {
  background: white;
  display: inline-block;
  width: 960px;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.about_text
{
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  max-width: 400px;
  width: 400px;
  float: left;
  text-align: center;
  padding-top: 20px;
  padding-left: 20px;
  display: inline-block;
}
.about_text h2
{
  font-family: 'Yantramanav', sans-serif;
  font-size: 1em;
  text-transform: capitalize;
  opacity: 0.5;
  max-width: 500px;
  width: 500px;
  float: left;
  text-align: center;
  padding-top: 20px;
  padding-left: 20px;
  display: inline-block;
}
.about_text ul.circle
{
  text-align: left;
  list-style-type: circle;
}
.about_image
{
  border-radius: 2px;
  display: inline-block;
  float: right;
  padding-right: 20px;
  padding-top: 20px;
}
.about_image img
{
  max-width: 553px;
  max-height: 612px;
  }
a {
    text-decoration: blink;
  }
  /*w3 school css*/
  .w3-light-grey,.w3-hover-light-grey:hover,.w3-light-gray,.w3-hover-light-gray:hover{color:#000!important;background-color:#f5f5f5!important}
  .w3-round-xlarge{line-height: 25px; border-radius:16px; box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);}
  .w3-container{text-align: center; padding:0.01em 16px}
  .w3-container:after,.w3-container:before{content:"";display:table;clear:both}
  .w3-blue,.w3-hover-blue:hover{color:#fff!important;background-color:#337188!important}
  .w3-blue-grey,.w3-hover-blue-grey:hover,.w3-blue-gray,.w3-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
  .knowledges
  {
    padding-left:180px;
    max-width: 600px;
  }
@media  screen and  (max-device-width : 960px) {
  .parallax-window{background-attachment:fixed;}
  .parallax-window2{background-attachment:fixed;}
  .parallax-window3{background-attachment:fixed;}
  .parallax-window-port{background-attachment:fixed;}
  .parallax-window4{background-attachment:fixed;}
}
